$icon-font-path: '../fonts/';
// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower
@import "common.scss";

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 15px;
  color: $text-color;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

/* Custom page header */
.header {
  padding-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

@media (max-width: 768px) {
  .border-bottom {
    margin: 0 16px;
  }
}

.container-fluid {
  max-width: 1200px;
}

.header {
  .navbar-default {
    background-color: $bg-white;
    border-color: $bg-white;
  }
}

.assignment {
  .header {
    margin-bottom: 0;
    border-bottom: none;
    padding-bottom: 0;
    .navbar {
      border: none;
    }
  }
}

.footer {
  border-top: none;
}

.footer-right {
  text-align: right;
}

@media screen and (max-width: 767px) {
  .assignment {
    .footer-left, .footer-right {
      text-align: center;
    }
    .carousel {
      top: 122px;
      height: 230px;
      .carousel-control {
        .glyphicon-chevron-left {
          left: 572%;
        }
        .glyphicon-chevron-right {
          left: 12px;
        }
      }
    }
  }
  .page-slider {
    height: 386px;
  }
}

.assignment {
  .navbar-default {
    .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
      background-color: $bg-white;
      border-bottom: 2px solid $default-page-color;
    }
  }
}

.page-slider {
  height: 500px;
  background: url('../images/header-banner-image.jpg') no-repeat center center;
  background-size: cover;
}

.page-content {
  padding-top: 30px;
  padding-bottom: 20px;
  h3, p {
    padding: 0 10%;
  }

}

.page-section {
  padding: 20px 0;
  .btn-default {
    color: $bg-white;
    background-color: $default-page-color;
  }
  .row {
    padding: 0 20px;
  }
}

.carousel {
  height: 200px;
  background-color: $default-page-color;
  opacity: 0.6;
  position: absolute;
  top: 230px;
  .item {
    padding: 20px;
  }
  h3, p {
    color: $bg-white;
  }
  .carousel-control {
    .glyphicon-chevron-left, .glyphicon-chevron-right {
      top: 104%;
      background-color: $default-page-color;
      opacity: 6;
    }
    .glyphicon-chevron-left {
      left: 14%;
    }
    .glyphicon-chevron-right {
      left: -374px;
    }
  }
  .carousel-control.left, .carousel-control.right {
    background-image: none;
  }
  .btn-primary {
    color: #337ab7;
    background-color: $bg-white;
    border-color: $bg-white;

  }
}

.border-bottom {
  border-bottom: 1px solid $border-color;
  padding-bottom: 20px;
}

h3 {
  color: $default-page-color;
}
